NEXT_PUBLIC_SITE_URL=https://bubble-shooter-ashy.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0xEA126f55BC7c7DD44d0cf89B858d1e7C2759bfD4
NEXT_PUBLIC_BASE_APP_ID=6a08284f4c3f57496e8396af
NEXT_PUBLIC_BUILDER_CODE=bc_q8x3brxf
# optional:
NEXT_PUBLIC_BUILDER_CODE_SUFFIX=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
